<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('stats') }}">
            <img src="{{ url_for('static', filename='img/favicon.png') }}" width="32" height="32"
                class="d-inline-block align-top" alt="">
            <span class="text-info">Linker</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-item nav-link active" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{{ url_for('api') }}">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{{ url_for('link') }}">Web Client</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{{ url_for('stats') }}">Link Statistics</a>
                </li>
            </ul>
            {% if request.endpoint == 'stats' %}
            <form class="d-flex justify-content-end">
                <input id="simplify-0" class="form-control me-1" type="simplify" placeholder="Enter URL"
                    aria-label="simplify">
                <button class="btn btn-outline-info my-2" type="submit" onclick="getURL();">Simplify</button>
            </form>
            {% endif %}
        </div>
    </div>
</nav>