<div class="pt-5 row">
    <p class="h6 col-md-4 offset-md-1 mb-5 ml-5 mt-5">
        How does Linker work?
    </p>
    <blockquote class="ml-3 mr-3 blockquote text-right font-italic col-md-6 offset-md-5">
        <p class="mb-4 lead" style="font-size: 80%;">
            The <code>GET</code> method retrieves information identified by the
            Request-URI. If the Request-URI refers to a <code>link</code>, the hashed data is
            returned as the entity in the response.
        </p>
        <p class="mb-4 lead text-center" style="font-size: 90%;">TL;DR Enter, Simplify, Share, Repeat</p>
        <footer class="blockquote-footer">
            Thank you <a href="https://tools.ietf.org/html/rfc2616#section-9.3"> RFC2616 </a><cite
                title="GET Method">GET
                Method</cite>
        </footer>
    </blockquote>
</div>
<p class="lead ml-3 rounded">
    Enter link to be <span class="text-info">simplified</span>.
</p>
<div class="row-fluid shadow p-3 mb-5 bg-white rounded">
    <div class="span9">
        <form class="form-group">
            <input id="simplify-0" class="form-control mr-sm-1" type="simplify" placeholder="Enter URL"
                aria-label="simplify">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit" onclick="getURL();">Simplify</button>
        </form>
    </div>
</div>