<div class="pt-5">
</div>
<p class="lead pl-3 rounded">
    Enter link to be <span class="text-info">simplified</span>.
</p>
<div class="row-fluid shadow p-3 mb-5 bg-white rounded">
    <div class="span9">
        <form class="form-group">
            <input id="simplify-0" class="form-control mr-sm-1" type="simplify" placeholder="Enter URL"
                aria-label="simplify">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit" onclick="getURL();">Simplify</button>
        </form>
    </div>
</div>
